html {
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    background-color: steelblue;
}

.item {
    background-color: #EEE;
    border: thin solid #000;
    min-height: 30vh;
}

@media screen and (min-width: 64em) {
    .container {
        display: flex;
        justify-content: center;
    }

    .Logo, .Aside { width: 15%; }

    .Menu, .Article { width: 70%; }

    .Social { width: 85%; }
}